<h4>Make A Reservation</h4>


<br />
<%= form_for [@listing, @reservation] do |r| %>
	Listing Title: <%= @listing.title %><br />
	Listing Description: <%= @listing.description %><br />
	Listing Location: <%= @listing.location %><br />
	<br />
	Start Date: <%= r.date_field :start_date %><br />
	End Date: <%= r.date_field :end_date %> <br />
	<br />
	<%= r.submit "Make Reservation" %>
<% end %>